body {
    background:lightskyblue
}
div{
    display:block;
}
div#game {
    background: black;
    height: 400px;
    margin-left: 60px;
    overflow: hidden;
    position:relative;
    text-align: center;
    width: 400px;
}