body {
    background:lightskyblue
}
div{
    display:block;
}
#game {
    background: black;
    height: 500px;
    margin-left: 60px;
    overflow: hidden;
    position:relative;
    text-align: center;
    width: 500px;
}

#block {
    background: white;
    height: 20px;
    width: 80px;
    position: absolute
}